ipu_db_host: '{{ ipu_db_host }}'
ipu_db_port: '{{ ipu_db_port }}'
ipu_db_user: '{{ ipu_db_user }}'
ipu_db_password: '{{ ipu_db_password }}'
ipu_database: {{ ipu_database }}
database_database: {{ database_database }}
database_user: '{{ database_user }}'
database_password: '{{ database_password }}'
database_host: '{{ database_host }}'
database_port: '{{ database_port }}'
env_name : '{{env_name}}'
db_encrypt_key: '{{ db_encrypt_key }}'
db_encrypt_key_iv: '{{ db_encrypt_key_iv }}'
db_key_encrypt_key_iv: '{{ db_key_encrypt_key_iv }}'